<!-- footer for the page with a nice crisp color and links to my github and linkedin -->
<footer class="footer">
    <div class="container-fluid bg-dark text-light">
        <div class="row">
        <div class="col-12">
            <div class="text-center">
            <a href="https://github.com/Willmo103" target="_blank"><i class="fab fa-github"></i></a>
                <a href="www.linkedin.com/in/will-morris-a4a653230" target="_blank"><i class="fab fa-linkedin"></i></a>
                <p><span>&copy;</span> Will Morris 2023</p>
            </div>
</footer>
