<!-- footer for the page with a nice crisp color and links to my github and linkedin -->
<!-- this footer should be at the bottom of the page and should be anchored to the bottom of the page -->
<!-- make this anchored to the bottom of the max screen -->
<div class="container-fluid bg-dark text-light">
  <div class="row">
    <div class="col-12">
      <div class="text-center">
        <a href="github.com/Willmo103" target="_blank"
          ><i class="fab fa-github"></i
        ></a>
        <a href="www.linkedin.com/in/will-morris-a4a653230" target="_blank"
          ><i class="fab fa-linkedin"></i
        ></a>
        <p><span>&copy;</span> Will Morris 2023</p>
      </div>
    </div>
  </div>
</div>
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/footer.css') }}"
/>}
<!--

<footer class="footer">
    <div class="container-fluid bg-dark text-light">
        <div class="row">
        <div class="col-12">
            <div class="text-center">
            <a href="https://github.com/Willmo103" target="_blank"><i class="fab fa-github"></i></a>
                <a href="www.linkedin.com/in/will-morris-a4a653230" target="_blank"><i class="fab fa-linkedin"></i></a>
                <p><span>&copy;</span> Will Morris 2023</p>
            </div>
</footer> -->
