<!-- the header and navbar for the site  -->
<header>
  <!-- bootstrap navbar buttons and links for 'home', 'search', 'my searches', 'logout/login' if user
    is not logged in the bar will not display -->

  <!-- the script for nav.js from static files to render the links depending on the page -->
  <script src="{{ url_for('static', filename='js/nav.js') }}"></script>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/"><i class="fas fa-home"></i> Prawfish </a>
    <button
      img="url(../static/img/prawfish.jpg)"
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
      <!-- display link based on page being displayed -->
      <!-- login displayed if not logged in  -->
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" id="search_link">
          <a class="nav-link" href="/search"
            ><i class="fas fa-search"></i> Search</a
          >
        </li>
        <li class="nav-item" id="mysearches_link">
          <a class="nav-link" href="/mysearches"
            ><i class="fas fa-search"></i> My Searches</a
          >
        </li>
      </ul>
      <div class="form-inline my-2 my-lg-0" id="logout_link"></div>
      <div class="form-inline my-2 my-lg-0" id="register_link"></div>
      <div class="form-inline my-2 my-lg-0" id="login_link"></div>
    </div>
  </nav>
  <!-- end of navbar -->
</header>
