{% extends "layouts/base.html" %} {% block content %}
<div class="container">
  <h1 class="text-center">Search</h1>
  <div class="row justify-content-center">
    <div class="col-md-8">
      <form method="POST" action="{{ url_for('search') }}">
        {{ form.csrf_token }}
        <div class="form-row">
          <div class="form-group col-md-6">
            {{ form.search_type.label }} {{
            form.search_type(class="form-control", data_toggle="popover",
            data_content="Choose the type of search (Subreddit, Redditor,
            etc.)", data_placement="top") }}
          </div>
          <div class="form-group col-md-6">
            {{ form.query.label }} {{ form.query(class="form-control",
            data_toggle="popover", data_content="Enter the search query",
            data_placement="top") }}
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-4">
            {{ form.sort.label }} {{ form.sort(class="form-control",
            data_toggle="popover", data_content="Choose how to sort the search
            results", data_placement="top") }}
          </div>
          <div class="form-group col-md-4">
            {{ form.syntax.label }} {{ form.syntax(class="form-control",
            data_toggle="popover", data_content="Choose the search query
            syntax", data_placement="top") }}
          </div>
          <div class="form-group col-md-4">
            {{ form.time_filter.label }} {{
            form.time_filter(class="form-control", data_toggle="popover",
            data_content="Choose the time filter for search results",
            data_placement="top") }}
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            {{ form.limit.label }} {{ form.limit(class="form-control",
            data_toggle="popover", data_content="Enter the maximum number of
            search results", data_placement="top") }}
          </div>
          <div class="form-group col-md-6">
            {{ form.subreddit.label }} {{ form.subreddit(class="form-control",
            data_toggle="popover", data_content="Enter the subreddit name for
            Subreddit search", data_placement="top") }}
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            {{ form.redditor.label }} {{ form.redditor(class="form-control",
            data_toggle="popover", data_content="Enter the redditor name for
            Redditor search", data_placement="top") }}
          </div>
          <div class="form-group col-md-6">
            {{ form.submission_id.label }} {{
            form.submission_id(class="form-control", data_toggle="popover",
            data_content="Enter the submission ID for Submission or Comment
            search", data_placement="top") }}
          </div>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary">Search</button>
        </div>
      </form>
    </div>
  </div>
  <script src="{{ url_for('static', filename='js/search.js') }}"></script>
  <!-- TODO: Add search-results.html include here -->
</div>
{% endblock %}
